.show-pills-container {
  display: flex;
  flex-direction: row;
  gap: 10px;

  align-items: center;
  flex-wrap: wrap;
}

.pill-container {
  display: flex;
  align-items: center;
  gap: 10px;
  background: rgb(55, 75, 105);
  padding: 8px;
  border-radius: 5px;
  color: rgb(251, 251, 251);
}

.close-button{
    color:rgb(208, 198, 198);
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 3px;
}
.close-button:hover{
    cursor: pointer;
    background-color: rgb(86, 139, 218);
    color: rgb(245, 242, 242);
}

